body{
    background-color: rosybrown;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: cornflowerblue;
    border:5px solid purple;

}
h4{
    border: 3px dashed aqua;
    color: rgb(242, 242, 242);
    background: rgb(68, 0, 0);
}
li{
    color: #0000ff;
}
