body{
    color: orange;
    background-color: whitesmoke;
}
li{
    line-height: 1px;;
    border: 2px solid royalblue;
}
#important{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}
.completed{
    text-decoration: line-through;
}